{% extends 'base.html.twig' %}

{% block title %}Meets'up Community Networking{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/">Главная</a></li>
                    <li>Отзыв</li>
                </ol>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Спасибо! Оставьте, пожалуйста, отзыв</h2>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                        <br/>
                        <br/>
                        <a href="/user/connect/{{ call_uuid }}">&larr; Вернуться назад в конференцию</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}