<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>
<body>
{{ body|raw }}
<div style="margin-top:50px; padding: 25px; text-align: center; color: #999;">
    <hr/>
        This email was sent by Meetsup.<br/>
        If you don't want to receive this type of email in the future, please
        <a href="{{ unsubscribe_link }}">unsubscribe</a>.
</div>
</body>
</html>