{% extends 'base.html.twig' %}

{% block title %}PRIVACY POLICY - Meetsup{% endblock %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Index page</a></li>
                <li>PRIVACY POLICY</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->


    <section class="inner-page pt-4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h1>PRIVACY POLICY</h1>
                    <div>
                        Welcome to Meetsup, a software platform that enables users to meet with others around them that
                        share interests and goals. The platform is managed by Meetsup, a software company that uses
                        machine learning to create meaningful connections.
                        This Privacy Policy ("Our Policy", or the "Policy") explains how we collect, use, share and
                        protect information in relation to our website (meetsup.co), and any software provided on or in
                        connection with our services (collectively, the "Service"), and your choices about the
                        collection and use of your information.
                        Our Policy applies to all visitors, users, and others who access the Service ("Users").
                        <br/><br/>
                        <h2>1. INFORMATION WE COLLECT</h2>
                        <h3>Registration Information</h3>
                        We may collect information needed to register and sign into the Service, such as your e-mail
                        address and phone number (if applicable).
                        <br/><br/>
                        <h3>Profile Information</h3>
                        We may collect personally identifiable information such as your name, picture, country, city,
                        and school name (if applicable).
                        <br/><br/>
                        <h3>Location Information</h3>
                        We may collect location data while you are actively using the Service on a mobile device. This
                        information is not shared externally and is used by the Service to determine connections within
                        your vicinity who are also actively using the Service.
                        <br/><br/>
                        <h3>Google Permissions</h3>
                        We may ask for some Google permissions allowing us to register and authenticate you on the
                        Service using Google. By default, we retrieve certain information such as your Google id, email
                        address, contacts, and calendar. This information is used to help us easily connect you to the
                        Service and to help us find new connections for you to meet efficiently.
                        <br/><br/>
                        <h3>Contacts List and Friends</h3>
                        In addition to your contacts made available to us via Google, we may ask for additional
                        contacts, either from your device, email, or other third-party social media site.
                        If you provide us with permission to use your contacts list, the Service will access your
                        contacts list to expand the social network of friends using Meetsup. You understand and agree
                        that you are responsible for any charges that apply to communications sent from your device.
                        <br/><br/>
                        <h3>Logging Information</h3>
                        We log information reported by our servers or your device each time you use the Service. This
                        information includes your Internet Protocol ("IP") address, browser type, device platform (iOS,
                        Android), and user id. This information is used for diagnostics and to improve our Service.
                        <br/><br/>
                        <h2>2. HOW WE USE YOUR INFORMATION</h2>
                        In addition to some of the specific uses of information we describe in this Privacy Policy, we
                        may use information that we receive to:
                        <li>help you efficiently sign in and authenticate with the Service</li>
                        <li>provide personalized suggestions and information to you and others</li>
                        <li>provide, improve, test, and monitor the effectiveness of our Service</li>
                        <li>develop and test new products and features</li>
                        <li>for technical support and detecting bugs and/or crashes in our Service</li>
                        <li>monitor metrics such as total number of visitors, traffic, and geographic patterns</li>
                        <br/><br/>
                        <h2>3. SHARING OF YOUR INFORMATION</h2>
                        We will not rent or sell your information to third parties without your consent, except as noted
                        in this Policy.
                        <br/><br/>
                        <h3>Assignment and/or Change of Control</h3>
                        If we incorporate, sell, or otherwise transfer part or the whole of the Service, User Content
                        and any other information collected through the Service may be assigned and/or transfered to the
                        new entity. The buyer, transferee, or new entity will have to honor the commitments we have made
                        in this Privacy Policy.
                        <br/><br/>
                        <h3>Instances where we may be required to share your information</h3>
                        Meetsup will disclose your information where required to do so by law or by judicial process or
                        if we reasonably believe that such action is necessary to:
                        <li>comply with the law and the reasonable requests of law enforcement</li>
                        <li>enforce our Terms of Use</li>
                        <li>protect the security or integrity of our Service</li>
                        <li>exercise or protect the rights, property, or personal safety of Meetsup, our Users or
                            others
                        </li>
                        <br/><br/>
                        <h2>4. HOW WE STORE YOUR INFORMATION</h2>
                        <h3>Storage and Processing</h3>
                        Information collected through the Service may be stored and processed in the United States, or
                        any other country in which the Service is made available. The information will be stored in
                        tools, machines, databases and/or facilities provided and maintained by Meetsup or Service
                        Providers.
                        Anonymized user data may be accessible to certain types of persons involved with the operation
                        of the Service (administration, sales, marketing, legal, system administration, developers,
                        and/or designers) or Service Providers (such as third party technical service providers, mail
                        carriers, hosting providers, IT companies, communications agencies) appointed, if necessary to
                        transfer, back-up, or store the data.
                        We use commercially reasonable safeguards to help keep the information collected through the
                        Service secure and take reasonable steps (such as using the OAuth Protocol) to verify your
                        identity before granting you access to your account. However, Meetsup cannot ensure the security
                        of any information you transmit to Meetsup or guarantee that information on the Service may not
                        be accessed, disclosed, altered, or destroyed.
                        Your privacy settings may also be affected by changes made by other social media services. We
                        are not responsible for the functionality, privacy, or security measures of any other
                        organization.
                        <br/><br/>
                        <h2>5. YOUR CHOICES ABOUT YOUR INFORMATION</h2>
                        <h3>Your account information and profile/privacy settings</h3>
                        <li>You may update your account, including privacy and permissions settings, at any time by
                            accessing the Service and changing your profile settings.
                        </li>
                        <li>You may unsubscribe from any email communications or promotions that are not Service-related
                            (e.g., account verification, purchase and billing confirmations and reminders,
                            changes/updates
                            to features of the Service, technical and security notices are all Service-related).
                        </li>
                        <br/><br/>
                        <h3>How long we keep your User Content</h3>
                        Following termination or deactivation of your account, Meetsup may retain information (including
                        your profile information) and User Content for a commercially reasonable time for backup,
                        archival, and/or audit purposes.
                        <br/><br/>
                        <h2>6. HOW TO CONTACT US</h2>
                        If you have any questions about this Privacy Policy or the Service, you may email us using
                        support@meetsup.co
                        <br/><br/>
                        <h2>7. CHANGES TO OUR PRIVACY POLICY</h2>
                        Meetsup may modify or update this Privacy Policy from time to time, so please review it
                        periodically. We may provide you additional forms of notice of modifications or updates as
                        appropriate under the circumstances. Your continued use of Meetsup after any modification to
                        this Privacy Policy will constitute your acceptance of such modification.
                        <br/><br/>
                        <p>Copyright © 2021 Meetsup</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}