{% extends 'base.html.twig' %}

{% block title %}Meetsup Community Networking{% endblock %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Главная</a></li>
                <li>Политика в отношении обработки персональных данных</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->


    <section class="inner-page pt-4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h5>Политика в отношении обработки персональных данных</h5>
                    <div>
                        1. Общие положения Настоящая политика обработки персональных данных определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных сайтом www.meetsup.co (далее - оператор).<br/>
                        <br/><br/>
                        2. Оператор может обрабатывать следующие персональные данные Пользователя<br/>
                        2.1. Фамилия, имя, отчество;<br/>
                        2.2. Номер телефона;<br/>
                        2.3. Адрес электронной почты;<br/>
                        2.4. Адреса профайлов в социальных сетях<br/>
                        2.5. Любую другую информацию, предоставленную Пользователем на сайте  www.meetsup.co<br/>
                        2.6. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).<br/>
                        2.7. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.<br/>
                        <br/><br/>
                        3. Цели обработки персональных данных<br/>
                        Администрация Сайта может использовать персональные данные в следующих случаях:<br/>
                        3.1. для идентификации Пользователя<br/>
                        3.2. для предоставления услуг Пользователю<br/>
                        3.3. для обработки платежей Пользователя<br/>
                        3.4. для отправки рекламных и информационных материалов по электронной почте и личным сообщением в мессенджеры Facebook, Telegram, Instagram<br/>
                        3.5. для обработки запросов Пользователя<br/>
                        3.6. для улучшения качества сервиса и производимых материалов<br/>
                        3.7. для внутренней отчетности<br/>
                        <br/><br/>
                        3.8. Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты  support@meetsup.co с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».<br/>
                        3.9. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.<br/>
                        <br/><br/>
                        4. Правовые основания обработки персональных данных<br/>
                        4.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте www.meetsup.co. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.<br/>
                        4.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).<br/>
                        <br/><br/>
                        5.1. Администрация делает все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов, находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт www.meetsup.co и вся размещенная на нем информация представлены по принципу «как есть» без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.<br/>
                        <br/><br/>
                        6.1. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.<br/>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}